.footer {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    padding: 10px; 
    background-color: #616161; 
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 120px;
}

.footer-btn-container {
    display: flex; 
    gap: 10px; 
    margin-bottom: 8px;
}

.footer button {
    padding: 8px 10px; 
    font-size: 14px; 
    color: white; 
    background-color: #707070;
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.footer button:hover {
    background-color: #3b3b3b; 
}

.footer button:disabled {
    background-color: #cccccc; 
    cursor: not-allowed; 
}